# Python for Beginners  -- https://www.youtube.com/watch?v=kqtD5dpn9C8

In [1]:
print("hello world")

hello world

In [3]:
age = 20
print("age:", age)

age: 20

In [5]:
age = 20
price = 19.95
first_name = "Feng"
is_online = False

print(age, price, first_name, is_online)

20 19.95 Feng False

In [7]:
pName= "John Smith"
Age = 20
is_new = True

print(pName, Age, is_new)

John Smith 20 True

In [10]:
name=input("what is your name?")
print("Hello ", name)

what is your name? Feng

Hello  Feng

In [11]:
birth_year=input("enter ur birth year")
age = 2021 - int(birth_year)
print("Age: ", age)

enter ur birth year 1955

Age:  66

In [14]:
first=input(' 1st number: ')
second=input(' 2nd number: ')
sum= float(first) + float(second)
print("sum: " , sum)

 1st number:  20
 2nd number:  10.1

sum:  30.1

In [31]:
course = "Feng Feng 22"
print (course.upper())
print (course.lower())
print (course.find('F'))
print (course.find('f'))
print (course.find('Fe'))
print (course.replace('F', 'FF'))
print ("Woon" in course)
print (course)

FENG FENG 22
feng feng 22
0
-1
0
FFeng FFeng 22
False
Feng Feng 22

In [28]:
X=10
X+=3
print(X)

13

In [29]:
x= 3==2
y= 3!=2
z= 3<2
w= 3>2

print(x,y,z,w)

False True False True

In [30]:
price=25
print(price>10 and price <30)

True

In [33]:
print(not price >10)

False

In [41]:
temp = float(input('temp:'))

if temp > 30:
    print(' hot day')
elif temp >20:
    print('not hot day')
print('DONE')

temp: 35

 hot day
DONE

In [55]:
w = float(input ('weight: '))
unit= input('(K)g or (L)bs:')

if unit=='K' or unit=='k': #python is case-sensitive language
    print('Weight in lbs: ' , w*2.20462)
elif unit=='L' or unit=='l':
    print('Weight in Kg: ' , w/2.20462)
else:
    print('Wrong input')

weight:  56
(K)g or (L)bs: k

Weight in lbs:  123.45871999999999

In [58]:
i=1
while (i<=5):
    print(i)
    i+=1

1
2
3
4
5

In [59]:
i=1
while (i<=5):
    print(i*'*')
    i+=1

*
**
***
****
*****

In [75]:
num=[1,2,3,4,5]
num.append(6)
print(num)

num.insert(2,9)
print(num)

num.remove(5)
print(num)

print(6 in num)
print(len(num))

num.clear()
print(num)

[1, 2, 3, 4, 5, 6]
[1, 2, 9, 3, 4, 5, 6]
[1, 2, 9, 3, 4, 6]
True
6
[]

In [83]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [98]:
num=[100,200,300,400,500]
for item in num:
    print(item)
    
print('*******************************')

for item in num:
    print(num)
    
print('*******************************')

for item in num:
    print(num[0])
    
print('*******************************')
i=1
for item in num:
    print(i)
    i+=1
    
print('*******************************')
print(len(num))

100
200
300
400
500
*******************************
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
*******************************
100
100
100
100
100
*******************************
1
2
3
4
5
*******************************
5

In [105]:
num=range(5) #0,1,2,3,4
print(num)

print('*******************************')

for item in num:
    print(item)
    
print('*******************************')

for item in range(5,10):
    print(item)

range(0, 5)
*******************************
0
1
2
3
4
*******************************
5
6
7
8
9

In [107]:
# tuples

tup=(1,2,3,4,5)
tup.insert(6)

AttributeError: 'tuple' object has no attribute 'insert'